<br>
<div class="row">
  <div class="text-center col-10">
    <font color="#993366" size="9" face="Comic Sans MS, Arial, MS Sans Serif">Servicio de Aseo Sebastián Muñoz</font>
  </div><br>
  <div class="col-2">
    <img type="image/x-icon" src="assets/imagenes/yo.ico" class="rounded" alt="">
  </div>
</div>


<nav class=" row navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href=""> <img type="image/x-icon" src="assets/imagenes/Gato.ico" class="rounded" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


    <div class="collapse navbar-collapse col-lg-1 " id="navbarSupportedContent">
      <ul class="navbar-nav ">
        <li class="nav-item col-lg-3 ">
          <link rel="icon" type="image/x-icon" href="assets/imagenes/icono.ico">
          <a class="nav-link" [routerLink]="['/']">Inicio</a>
        </li>
        <li class="nav-item col-lg-5">
          <a class="nav-link" [routerLink]="['/nosotros']">Nosotros</a>
        </li>


        <li class="nav-item dropdown col-lg-5">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >Servicios</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link dropdown-item" [routerLink]="['/hogar']"> Servicio a Hogar</a>
              <a class="nav-link dropdown-item" [routerLink]="['/industrial']"> Servicio Industrial</a>
            </div>
        </li>

        <li class="nav-item col-lg-6">
          <a class="nav-link" [routerLink]="['/novedades']" >Novedades</a>
        </li>
        <li class="nav-item"  >
          <a class="nav-link" [routerLink]="['/contacto']" >Contacto</a>
        </li>
      </ul>
    </div>
</nav>
