<div class="container">
  <legend class="text-center header">Contacto</legend>

    <div class="row">

      <div class="col-6">
        <!--Datos-Formulario-->
        <form class="form-horizontal"  method="post">
          <fieldset>
            <!--Nombre-->
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" placeholder="Primer Nombre" class="form-control">
                </div>
            </div>

            <!--Apellido-->
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" placeholder="Apellido" class="form-control">
                </div>
            </div>
            <!--Gmail-->
            <div class="form-group">
                <div class="col-md-10">
                    <input type="gmail" placeholder="Correo" class="form-control">
                </div>
            </div>
            <!--Telefono-->
            <div class="form-group">
                <div class="col-md-10">
                    <input type="text" placeholder="Telefono" class="form-control">
                </div>
            </div>
            <!--Texto-->
            <div class="form-group">
                <div class="col-md-10">
                    <textarea class="form-control"  placeholder="Especifique el servicio deseado" rows="7"></textarea>
                </div>
            </div>
            <!--Boton--><br><br>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class=" btn btn-primary btn-lg">Enviar</button>
                </div>
            </div>

          </fieldset>
        </form>
      </div>

      <div class="col-5">

          <div align="center" class="">
            <img src="assets/imagenes/cont.png" width="275"  class="img-fluid "alt="">
          </div>
  <br><br><br><br>

      </div>

    </div>
</div>
