<div class="row">
  <!-- Textos -->

  <div class="col-7"> <!--Div central-->

    <!-- Div de la empresa-->
    <div class="mt-5">
      <h1>Nuestra empresa</h1>
      <p style="text-align: justify;">Somos Emprendedores parte de la Comunidad, brindamos servicios de aseo integral especializado y
      focalizado, desarrollando actividades de limpieza, mediante un talento humano
      amable con vocación del servicio y altamente calificado, siendo cada uno de
      ellos parte de este gran proyecto que se fortalece en el esfuerzo de todos</p>
    </div>

    <!--Div de Misión-->
    <div class=" mt-3 ">
        <h3>Misión </h3>
        <p style="text-align: justify;">Satisfacer las expectativas de nuestros clientes, en el bienestar y la salud de las personas,
          entregando soluciones excelentes de limpieza para sus instalaciones, de medio visual o un ambiente determinado.
           Con un equipo de trabajo confiable, calificado y comprometido, utilizando insumos Ecológicos y Biodegradables, y
            Equipos Profesionales, en operaciones rentables que garanticen el crecimiento sustentable de la Empresa.</p>
    </div>

    <!--Div de Visión-->
    <div class=" mt-3 ">
        <h3>Visión   </h3>
        <p style="text-align: justify;">Ser líderes en servicios integrales de mantenimiento de limpieza de todo tipo de inmuebles a nivel regional, que se distinga de cualquier otra empresa de la industria por ofrecer soluciones, ser reconocidos por tener un sentido de responsabilidad social,
          afianzando un grupo humano calificado, vital, transparente, comprometidos con la organización y respetuosa del medio ambiente.</p>
    </div>

    <!--Div de Objetivos-->
    <div class=" mt-3 ">
        <h3>Objetivos </h3>
        <p>1.- Tener productos de calidad para la limpieza</p>
        <p>2.- Ser eficiente y eficas</p>
        <p>3.- Tener cuidado con el medio ambiente</p>
    </div>

  </div>

  <!--Imagenes-->

  <div class="mt-5 col-5">
    <!--Fila para la imagenes-->
      <img src="assets/imagenes/aseao.jpg" class="img-fluid" alt="">
      <br><br>
      <img src="assets/imagenes/objetivos.jpg" class="mt-2 img-fluid" alt="">

  </div>

</div>
<br><br><br>
