<div class="mt-5">
  <h1 class="text-center" > Aseo Industrial </h1>
</div>

<br><br><br>

<div class="row">

      <!--Escritura-->
      <div class="col-8 ">

      <!--Información-->
      <div class="">
        <p style="text-align: justify;">Contamos con Servicios Especiales para Empresas con programas pensado en cubrir las altas demandas que requieren. </p>
      </div>
        <br>

        <div class="">
          <li type="disc">Trabajamos con Estándares y Procedimientos definidos.</li>
          <li type="disc">Utilizamos Productos Biodegradables, Ecológicos y Equipos Industriales.
                          Con la Tecnología que  propicia Seguridad y Salud en el trabajo.</li>
          <li type="disc">Limpieza y Sanitización de Baños, Equipos Gastronómicos y Tapicería en General.</li>
          <li type="disc">Renovación y tratamiento de pisos, Alfombras de muro a muro.</li>
          <li type="disc">Limpieza de Vidrios a traves de Robots.</li>
        </div>
        <br>

        <!---Imagenes general-->
        <div class="row">

          <!---Imagenes Primera-->
          <div class="row">
            <div class="col-6">
              <img src="assets/imagenes/industrial/aseo1.jpg" width="450px" height="450px" class=" img-fluid " alt="">
            </div>

            <div class="col-6">
              <img src="assets/imagenes/industrial/aseo2.jpg" width="450px" height="450px" class="img-fluid " alt="">
            </div>
          </div>

          <br>
          <!---Imagenes Segundas-->
          <div class="row">
            <div class="col-6">
              <img src="assets/imagenes/industrial/aseo3.jpg" width="450px" height="450px" class="img-fluid " alt="">
            </div>

            <div class="col-6">
              <img src="assets/imagenes/industrial/aseo4.jpg" width="450px" height="450px" class="img-fluid " alt="">
            </div>
          </div>
          <br><br>
        </div>

    </div>
        <!--En blanco-->
          <div class="col-4">
          </div>

</div>
