<div class="mt-5">
  <h1 class="text-center"> Aseo Hogar </h1>
</div>

<br><br><br>

<div class="row">

      <!--Información-->
      <div class="col-7 ">
        <div class="">
          <p style="text-align: justify;">Nos adaptamos a sus horarios, le ofrecemos un Servicio Personalizado y Profesional para su Hogar. </p>
        </div>

          <div class="">
            <li type="disc">Limpieza y sanitización de colchones, sofás, tapices en general.</li>
            <li type="disc">Limpieza y sanitización de baños y cocinas.</li>
            <li type="disc">Renovación de pisos.</li>
            <li type="disc">Limpieza de alfombras de muro a muro y dimensionadas.</li>
            <li type="disc">Todo realizado con Equipos Especializados e Insumos no Perjudiciales a la Salud de las Personas y Medio Ambiente.</li>
          </div>
      </div>


      <div class="col-5">

          <!---Imagenes general-->
          <div class="row">

            <!---Imagenes Primera-->
            <div class="row">
              <div class="col-6">
                <img src="assets/imagenes/hogar/aseoh1.jpg" class="img-fluid " alt="">
              </div>

              <div class="col-6">
                <img src="assets/imagenes/hogar/aseoh2.jpg" class="img-fluid " alt="">
              </div>
            </div>

            <br>
            <!---Imagenes Segundas-->
            <div class="row">
              <div class="col-6">
                <img src="assets/imagenes/hogar/aseoh3.jpg" class="img-fluid " alt="">
              </div>

              <div class="col-6">
                <img src="assets/imagenes/hogar/aseoh4.jpg" class="img-fluid " alt="">
              </div>
            </div>
            <br><br>
          </div>


      </div>

</div>
