<br><br>
<!--Novedades-->
<div class="text-center">
    <h2 >Novedades</h2>
</div>
<br><br>
  <!--Fila 1-->
  <div class="row">

    <!--Descuentos-->
    <div class="col-8 text-center">
      <h4>Descuentos</h4>
    </div>
    <div class="col-8">
      <br>
      <!--Primer Descuento-->
      <div class="row">

        <div class="col-9">
          <font color="#993366" size="6" face="Sans Serif">Descuento en Hogares</font>
          <h4><small><p>¡Descuento por navidad!</p></small></h4>
          <p>Para una semana antes del dia 24, tendra un 30% de descuento</p><!--Aca-->
        </div>
        <div class="col-3"><br><br>
          <img type="image/x-icon" src="assets/imagenes/niko.ico" class="rounded" alt="">
        </div>

      </div>
      <br><br>
      <!--Segundo Descuento-->
      <div class="row">
        <div class="col-9">
          <font color="#993366" size="6" face="Sans Serif">Descuento en Industrias</font>
          <h4><small><p>¡Descuento por año nuevo!</p></small></h4>
          <p> Para una semana antes del Año Nuevo tendra un 15% de descuento</p><!--Aca-->
        </div>
        <div class="col-3"><br><br>
          <img type="image/x-icon" src="assets/imagenes/mario.ico" class="rounded" alt="">
        </div>
      </div>
      <br><br>
      <!--Tercer Descuento-->
      <div class="row">
        <div class="col-9">
          <font color="#993366" size="6" face="Sans Serif">Descuento en Pymes</font>
          <h4><small><p>¡Descuento de aniversario de empresa!</p></small></h4>
          <p> Para todo el mes de aniversaio, tendra un 35% de descuento</p><!--Aca-->
        </div>
        <div class="col-3"><br><br>
          <img type="image/x-icon" src="assets/imagenes/matias.ico" class="rounded" alt="">
        </div>
      </div>
    </div>

    <!--Categorias-->
    <div class="col-4">
      <br>
        <h5>Otras Paginas asociadas a nuestra compañia</h5> <br>
        <ul>
          <a target="_blank"  href="http://serviciostadeoaseo.cl">Servicio todo Aseo</a><br><br>
          <a target="_blank"  href="https://www.guialimpieza.cl/">Guia Limpieza</a> <br><br>
          <a target="_blank"  href="http://www.pureclean.cl/">PureClean</a><br><br>
          <a target="_blank"  href="https://www.serviciosagustina.cl/">Servicio Agustina</a><br><br>
        </ul>

        <h4><small><p>Representantes de la compañia</p></small></h4>
        <div class="row center  ">
          <div class="col-6">
              <img type="image/x-icon" src="assets/imagenes/miguel.ico" class="rounded" alt="">
              <p>Miguel</p>
          </div>
          <div class="col-6 center">
            <img type="image/x-icon" src="assets/imagenes/pato.ico" class="rounded" alt="">
            <p>Patricio</p>
          </div>
        </div>


    </div>

  </div>
<br><br>
