<br><br>
<div class="text-center">
  <font class="text-center" size="9" face="">Servicios Profecionales de limpieza</font>
</div>

<div class="">

    <div class="">
      <p size="6"style = "font-family:helvética;">Aseo Industrial</p>
      <p style = "font-family:helvética;">Aseo Hogares</p>
    </div>

    <div class="text-center">
      <h5>¿Por que elegirnos?</h5>
    </div><br>

    <div class="row">
      <!--1-->
      <div class="col-3">
        <div class="text-center circulo"><br>
          <h1>1</h1>
        </div><br>
        <h6><small>Procesos con altos estándares</small></h6>
        <p style="text-align: justify;">Somos una empresa seria, con procesos estandarizados y programas de mantenimiento según sus necesidades.</p>
      </div>
      <!--2-->
      <div class="col-3">
        <div class="text-center circulo"><br>
          <h1>2</h1>
        </div><br>
        <h6><small>Experiencia y Calidad</small></h6>
        <p style="text-align: justify;">Contamos basta experiencia en el rubro, cada uno de nuestros servicios lo realizamos con un alto compromiso.</p>
      </div>
      <!--3-->
      <div class="col-3">
        <div class="text-center circulo"><br>
          <h1>3</h1>
        </div><br>
        <h5><small>Productos Ecológicos y Biodegradables</small></h5>
        <p style="text-align: justify;">Nos preocupamos por el medioambiente y las personas.</p>

      </div>
      <!--4-->
      <div class="col-3">
        <div class="text-center circulo"><br>
          <h1>4</h1>
        </div><br>
        <h6><small>Personal Capacitado</small></h6>
        <p style="text-align: justify;">Contamos con personal altamente capacitado en las distintas áreas de los servicios que ofrecemos.</p>
      </div>
    </div>
<br>
    <!--otra-->
    <div class="">
      <div class="">
        <h3 class="text-center">Servicios de Limpieza Industrial en Empresas y Hogares.</h3>
        <h6 class="text-center"><small>Realizamos servicios de Limpieza Industrial FOCALIZADO, para Empresas y Hogares en la ciudad de Iquique, contamos con programas según sus necesidades.</small></h6>
      </div>

      <br>

      <div class="row">
        <div class="col-4">
            <h6>Tapiz en General</h6>
            <p>Limpieza a sofás, sillones, sillas, sitiales, sofá cama, futón, colchones, etc.</p>
        </div>
        <div class="col-4">
          <h6>Equipos Gastronómicos</h6>
          <p>Utilizamos vapor para re-mover la grasa, en sus instalaciones, casinos y cocina.</p>
        </div>
        <div class="col-4">
          <h6>Limpieza de Baños</h6>
          <p>Sanitización y eliminación de Sarro con vapor, utilizando la mínima cantidad de Producto Ecológico, para limpiar Inodoro, Lavamanos, Vanitorio, Duchas, Tinas, Grifería y otros.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
            <h6>Alfombras en General</h6>
            <p>Lavado y Sanitizado, alfombras de muro a muro y dimensionadas.</p>
        </div>
        <div class="col-4">
          <h6>Limpieza de Vidrios</h6>
          <p>Vidrios en altura, ventanales, estructuras relacionadas, se Realiza a travez de Robots. VENTAJA: NO UTILIZA, NI ANDAMIOS, NI ESCALERAS.</p>
        </div>
        <div class="col-4">
          <h6>Tratamiento de Pisos</h6>
          <p>Pisos flotantes, de madera, laminados, de marmol, cerámicos, porcelanatos, realizamos un tratamiento adecuado a todo tipo de superficies.</p>
        </div>
      </div>
    </div>
</div>
<br><br>
